/* HEADER */

header {
    position: sticky;
    top: 0;
    background-color: nth($list: $colors, $n: 3);
    border-bottom: 1px solid nth($list: $colors, $n: 1);
    overflow: hidden;
    z-index: 1;
    nav {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        .headerlogo {

            a 
            
            img {
                width: 50px;
                margin-left: 50px;
                vertical-align: $revert;
            }
        }

        ul {
            list-style: none;
            font-size: larger;
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            gap: 40px;
            margin-top: $revert; 
            margin-bottom: $revert; 
            padding-left: $revert; 
            li {

                a {
                    text-decoration: none;
                    color: nth($list: $colors, $n: 1);
                }
            }

            span {
                width: 1px;
                height: 100%;
                background-color: nth($list: $colors, $n: 1);
            }
        }

        .headersearch {
            display: grid;
            grid-auto-flow: column;
            justify-content: end;
            align-items: end;
            margin-right: 50px;
            
            a 
            
            img {
                width: 20px;
                margin-right: 10px;
                vertical-align: $revert;
            }

            input {
                width: 150px;
            }
        }
    }
}

/* OFFCANVAS NAVBAR */

.fixed-top {
    position: $revert;

    .container-fluid {

        .navbar-toggler {

            .navbar-toggler-icon {
                background-color: revert!important;
            }
        }
    }
}

.bg-light {
    background-color: nth($list: $colors, $n: 3)!important;
    border-bottom: 1px solid nth($list: $colors, $n: 1);
}

.container-fluid img {
    width: 50px;
}

.offcanvas-header img {
    width: 50px;
}

.nav-link {
    color: nth($list: $colors, $n: 1)!important;
}

ol, ul {
    padding-left: 0!important;
}

.form-control {
    border-radius: 0!important;
}

.btn {
    --bs-btn-border-radius: 0!important;
}

.btn-outline-success {
    --bs-btn-color: nth($list: $colors, $n: 2);
    --bs-btn-border-color: nth($list: $colors, $n: 2);
    --bs-btn-hover-color: nth($list: $colors, $n: 3);
    --bs-btn-hover-bg: nth($list: $colors, $n: 2);
    --bs-btn-hover-border-color: nth($list: $colors, $n: 2);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: nth($list: $colors, $n: 3);
    --bs-btn-active-bg: nth($list: $colors, $n: 2);
    --bs-btn-active-border-color: nth($list: $colors, $n: 2);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: nth($list: $colors, $n: 2);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: nth($list: $colors, $n: 2);
    --bs-gradient: none;
}

/* SALE MAIN */

main {

    section {

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 200px;
            img {
                width: 375px;
                height: auto;
            }
        }
    }

    .saleoff {

        div {

            @include flexdirjus (flex, row, center);
            margin-bottom: 50px;

            h1 {
                font-size: 50px!important;
            }
        }
    }

    .hoodieshoes {
        
        @include flexdirjus (flex, row, space-around);
        margin-bottom: 20px;        
        
    }
    
    .shirtjeans {
        
        @include flexdirjus (flex, row, space-around);
        margin-bottom: 20px;
    }

}

/* SALE BUTTONS */

.btn-primary {
    --bs-btn-bg: #990D0D;
    --bs-btn-border-color: #990D0D;
}


/* FOOTER */

footer {
    margin-top: 50px;
    border-top: 1px solid nth($list: $colors, $n: 1);
    background-color: nth($list: $colors, $n: 3);
    .footer {
        @include flexdirjus (flex, row, space-between);
        .payment {
            @include flexdirjusal (flex, row, center, center);  
            margin: 0 25px;
            
            h3 {
                margin-right: 5px;
                font-size: $revert;
                font-weight: 400!important;
            }

            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
        }

        .socialmedia {
            @include flexdirjusal (flex, row, center, center); 
            margin: 0 25px;
            
            h3 {
                font-size: $revert;
                font-weight: 400!important;
                margin-right: 5px;
            }

            a {

                img {
                    width: 40px;
                    margin-right: 10px; 
                }
            }       
        }
    }
}